
header {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

header span {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}

.header__logo {
    display: flex;
    gap: 2rem;
    padding: 1rem;
}

.header__logo img {
    width: 2rem;
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-block-end: 1rem;
}

.search {
    margin-inline-start: 1rem;
    border-radius: 0.75rem;
    border: none;
    width: 80%;
    height: 1.75rem;
}

.sort__btn {
    background: var(--primary-bg);
    border: none;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
}

.hashtag {
    width: 1.5rem;
}

