.detail__section {
  height: auto; 
}

.detail__div--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeball__img {
  position: absolute;
  width: 60%;
  right: 5%;
  top: 5%;
  z-index: 0;
}

.detail__div--item h3 {
  text-align: center;
  margin-block: 2rem;
}

.return {
  background: none;
  border: none;
  color: black; 
  width: 3rem;
}

.pokecard {
  position: relative;
  display: flex; 
  gap: 9rem;
  justify-content: space-between; 
  align-items: center; 
  padding: 2rem 2rem 15rem 2rem;
}

.pokecard span, h2 {
  color: white;
}

.pokecard h2 {
  font-size: 2rem;
}

.pokecard span {
  font-weight: 600;
}

.pokecard__top {
  display: flex;
  gap: 0.5rem;
}

.pokecard__img {
  max-width: 70%;
  position: absolute;
  top: 10%;
  z-index: 1;
}

.pokecard__info {
  background: #f9f9f9; 
  padding: 1rem;
  border-radius: 8px;
  margin-inline: 0.25rem;
  margin-block-end: 0.25rem;
}

.detail__ul {
  margin-block-start: 5rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
}

.detail__ul li {
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  color: white;
}

.description__ul {
  list-style: none;
  padding: 0;
}

.about__stats {
  display: flex; 
  justify-content: center;
  gap: 3rem;
  margin-block-end: 2rem;
}

.about__stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about__stats p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
}

.about__stats li span {
  color: grey;
}

.about__stats li:nth-child(2) {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  padding-inline: 2rem;
}


.stats-grid {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
}


.stat-item {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.stat__bar {
  border-radius: 1rem;
  height: 0.5rem;
}